$mistercoal: #1F314F;
$misterslate: #68778D;
$misterfog: #D5E1EF;

$misterframewidth: 320px;
$misterframeheight: 499px;
$misterframeborderradius: 20px;

$misterqrcodeimgmargintop: 16px;
$misterqrcodeimgside: 288px;
$misterqrcodeimgborderradius: 10px;

$mistertitlemargintop: 24px;
$mistertitlemarginleft: 20px;
$mistertitlefontfamily: 'Outfit';
$mistertitlefontfamilysecondary: sans-serif;
$mistertitlefontsize: 22px;
$mistertitlefontweight: 700;
$mistertitlewidth: 280px;
$mistertitleheight: 52px;
$mistertitlelineheight: 120%;

$misterdescriptionmargintop: 16px;
$misterdescriptionmarginleft: 32px;
$misterdescriptionfontfamily: 'Outfit';
$misterdescriptionfontfamilysecondary: sans-serif;
$misterdescriptionfontsize: 15px;
$misterdescriptionfontweight: 400;
$misterdescriptionwidth: 256px;
$misterdescriptionheight: 63px;
$misterdescriptionlineheight: 140%;
$misterdescriptionletter-spacing: 0.2px;

.prismaticcoal {
  background-color: $mistercoal;
}

.prismaticslate {
  background-color: $misterslate;
}

.prismaticfog {
  background-color: $misterfog;
}

.snorlax-frame {
  width: $misterframewidth;
  height: $misterframeheight;
  border-radius: $misterqrcodeimgborderradius;
}

.snorlax-qrcodeimg {
  margin-top: $misterqrcodeimgmargintop;
  width: $misterqrcodeimgside;
  height: $misterqrcodeimgside;
  border-radius: $misterqrcodeimgborderradius;
}

.snorlax-title {
  margin-top: $mistertitlemargintop;
  margin-left: $mistertitlemarginleft;
  font-family: $mistertitlefontfamily, $mistertitlefontfamilysecondary;
  font-size: $mistertitlefontsize;
  font-weight: $mistertitlefontweight;
  width: $mistertitlewidth;
  height: $mistertitleheight;
  line-height: $mistertitlelineheight;
  color:  $mistercoal;
}

.snorlax-description {
  margin-top: $misterdescriptionmargintop;
  margin-left: $misterdescriptionmarginleft;
  font-family: $misterdescriptionfontfamily, $misterdescriptionfontfamilysecondary;
  font-size: $misterdescriptionfontsize;
  font-weight: $misterdescriptionfontweight;
  width: $misterdescriptionwidth;
  height: $misterdescriptionheight;
  line-height: $misterdescriptionlineheight;
  letter-spacing: $misterdescriptionletter-spacing;
  color: $misterslate;
}

@import "../node_modules/bootstrap/scss/bootstrap";