$mistercoal: #1F314F;
$misterslate: #68778D;
$misterfog: #D5E1EF;

$misterframewidth: 320px;
$misterframeheight: 499px;
$misterframeborderradius: 20px;

$misterqrcodeimgmargintop: 16px;
$misterqrcodeimgside: 288px;
$misterqrcodeimgborderradius: 10px;

.prismaticcoal {
  background-color: $mistercoal;
}

.prismaticslate {
  background-color: $misterslate;
}

.prismaticfog {
  background-color: $misterfog;
}

.snorlax-frame {
  width: $misterframewidth;
  height: $misterframeheight;
  border-radius: $misterqrcodeimgborderradius;
}

.snorlax-qrcodeimg {
  margin-top: $misterqrcodeimgmargintop;
  width: $misterqrcodeimgside;
  height: $misterqrcodeimgside;
  border-radius: $misterqrcodeimgborderradius;
}

@import "../node_modules/bootstrap/scss/bootstrap";