$mistercoal: #1F314F;
$misterslate: #68778D;
$misterfog: #D5E1EF;

$misterframewidth: 320px;
$misterframeheight: 499px;
$misterframeborderradius: 20px;

.prismaticcoal {
  background-color: $mistercoal;
}

.prismaticslate {
  background-color: $misterslate;
}

.prismaticfog {
  background-color: $misterfog;
}

.snorlax-frame {
  width: $misterframewidth;
  height: $misterframeheight;
  border-radius: $misterframeborderradius;
}


@import "../node_modules/bootstrap/scss/bootstrap";